.card {
  box-sizing: border-box;
  max-width: 500px;
  background: rgb(66,151,159);
  background: linear-gradient(329deg, rgba(66,151,159,0.958420868347339) 23%, rgba(46,110,227,0.958420868347339) 91%);

  box-shadow: inset 0px 0px 5px 1px rgb(20, 55, 95);
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fondo {
  background: rgb(66,151,159);
  background: linear-gradient(329deg, rgba(66,151,159,0.958420868347339) 23%, rgba(46,110,227,0.958420868347339) 91%);


  position: relative;
}
.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #4ff132;
  display: flexbox;
}

img {
  width: 100%;
  min-width: 200px;
}


.stats {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
  font-weight: bold;
  background-color: #104d85;
  color: rgb(21, 237, 68);
  border-radius: 20px;
}

.stats:hover {
  color: #115416;
  background-color: rgb(92, 214, 233);
  border-radius: 20px;
  box-shadow: 0px 0px 5px 1px rgb(20, 55, 95);
}

.tipos{
  display: flex;
  justify-content: center;
  color: #4ff132;
  font-weight: bold;
  ;
}

.bi{
  font-size: 40px;
  color: #e03936;
 

}

@media (max-width: 570px) {
  .card {
    max-width: 100%;
  }

  .stats {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    font-weight: bold;
    background-color: #4a1c68;
    color: rgb(199, 71, 238);
    border-radius: 20px;
  }
}
