
.container-fluid {
  background: rgb(66, 121, 159);
  background: linear-gradient(
    344deg,
    rgba(66, 121, 159, 0.958420868347339) 21%,
    rgba(46, 153, 227, 0.958420868347339) 59%
  );
}

.paginat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
}
.card {
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
  max-width: 400px;

  background-color: #4084ce;
  box-shadow: inset 0px 0px 5px 1px rgb(20, 55, 95);
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #22681d;
  display: flexbox;
}

a{
  color: #2d8926;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}