<nav class="navbar navbar-expand-lg" style="background: rgb(19, 101, 151)">
  <div class="container-fluid">
    <h4> <a style="text-decoration: none; color: #2aa97a" [routerLink]="['/home']" >PokeApp</a> </h4>

    <div class="input container">
      <form (submit)="onSearch(inputSearch.value)">
        <input
          #inputSearch
          type="text"
          class="form-control"
          placeholder="Search..."
          aria-label="Sizing example input"
        />
      </form>
    </div>
  </div>
</nav>
